<% @fossils.reverse.each do |fossil| %>
	
	<% @user = User.find(fossil.user_id) %>
		<div class="user_id"><strong class = "handle"><%= @user.handle %></strong>
		</div>
		<br>
		<div class="status"><%= fossil.status %>
		</div>
			
		<br>
		<div class = "container"><%= image_tag("#{fossil.image}") %></div>
		<div class="Dig"><%= fossil.dig_count %></div><br><br>

<a href= "/fossils/new"><%= image_tag("fossilDrop.png")%></a>
<br>
<br>
<hr class="hr">
<br>
<% end %>
<br>
<%= image_tag("rex_skull.png") %><br>
<br>
<br>
