<h1>THE FOSSIL RECORD</h1>

<%= form_for @fossil do |f| %>
	<h3>drop a fossil</h3>	
		<h4>
			<%= f.hidden_field :user_id, value: @user.id, required: true %>
		</h4><br>
		<div>
			<%= f.text_area :status, placeholder: "status" %> 
		</div><br>
		<div>
			<%= f.text_field :image, placeholder: "image_url" %>
		</div><br>
	<%= f.submit "drop" %>
<% end %>

