<!DOCTYPE html>
<html>
<head>
  <title>DynoApp</title>
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "body">
<br>
<h1 class = "mega" ><%= image_tag("dyno_hero.svg") %></h1>
<br>

<%= yield %>
<br>
<br>
<br>
<a href= "/sessions/logout"><%= image_tag("dyno_logout.png")%></a>
</body>
</html>

